<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jackoder.sample.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".observer.NullIdService"/>
        <service android:name=".observer.TargetIdService"/>
        <receiver android:name=".observer.NullIdBroadcastReceiver"/>
        <receiver android:name=".observer.TargetIdBroadcastReceiver"/>
    </application>

</manifest>
